body{
    margin:0;
    padding:0;
}
.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}


.row div{
    border:1px solid #999999;
    background-color: #eeeeee;
    float:left;
    margin:20px;
    height:50px;
}

@media (min-width: 768px){
    .col-sm-1{
        width:8%;
    }

    .col-sm-2{
        width:12.5%;
    }

    .col-sm-3{
        width:22.5%;
    }

    .col-sm-4{
        width:30%;
    }

    .col-sm-6{
        width:45%;
    }

}

@media (max-width: 768px){
    .col-xs-2{
        width:11.5%;
    }

    .col-xs-3{
        width:18%;
    }

    .col-xs-6{
        width:42%;
    }

    .col-xs-8{
        width:55%;
    }

    .col-xs-12{
        width:90%;
    }

}